
<section class="container">
    <div class="top-bar">
        <button mat-raised-button color="primary" matTooltip="Create new student" (click)="goBack()" >Back</button>

    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of subject.students">
            <th scope="row">{{s.id }}</th>
            <td>{{s.name}}</td>
        </tr>
        </tbody>
    </table>
</section>
